/* コンテンツ全体の余白 */
.todo__content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
}

.todo__alert {
    display: flex;
    align-items: center;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 0 20px 0;
    padding: 0;
    box-sizing: border-box;  /* paddingを含めて100%にする */
    border-radius: 0;        /* 角丸を消す */
}

.todo__alert--success {
    background-color: #d1e7dd;
    color: #0f5132;
    padding: 15px 40px;
    width: 100%;
}

.todo__alert--danger {
    background-color:#f8d7da;
    color: #842029;
    min-height: 55px;
    padding: 0px 50px;
    margin: 0 0 20px 0;
    display: flex;
    align-items: center;
    width: 100%;
}

.todo__form-ttl {
    margin-top: 60px;
    margin-bottom: 5px;
    margin-left: 50px;
    font-size: 24px;
    font-weight: bold;
}

.create-form, .search-form {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    margin-left: 50px;
    margin-bottom: 30px;
    width: 100%;
}

.create-form__item, .search-form__item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.create-form__item-input, .search-form__item-input  {
    flex: 0 1 400px;
    width: 400px;
    height: 50px;
    padding: 0 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.create-form__item-select, .search-form__item-select {
    flex: 0 0 200px;
    width: 200px;
    height: 50px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background-color: #fff;
}

/* 作成ボタン (#000 / #fff) */
.create-form__button-submit, .search-form__button-submit  {
    background-color: #000;
    color: #fff;
    flex: 0 0 120px;
    margin-left: 80px;
    width: 180px; /* ボタンの幅を明示的に指定 */
    height: 50px; /* 入力欄と高さを合わせる */
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    white-space: nowrap;
}

.todo__section-title {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
}

/* テーブルスタイル */
.todo-table__inner {
    width: 90%;
    margin-left: 50px;
    border-collapse: collapse;
    font-weight: bold;
}

.todo-table__header {
    text-align: left;
    font-size: 24px;
    border-bottom: 1px solid #ccc
}

.todo-table__item {
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}

.todo-table__actions {
    width: 250px; /* ボタン2つ分が余裕を持って入る幅 */
    text-align: right;
}

.update-form__button-submit,
.button-update {
    padding: 8px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    white-space: nowrap;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #0000ff;
}

.delete-form__button-submit {
    padding: 8px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    white-space: nowrap;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #ff0000;
}

.update-form__item-input {
    width: 100%;
    height: 35px;
    border: none;
    padding: 5px 0;
    background-color: transparent; /* 背景を透明に */
    outline: none;                 /* クリックした時の青い枠線を消す */
}

.button-group {
    display: flex;
    gap: 10px;          /* ボタン間の隙間 */
    align-items: center;
    margin-left: 70px;
}
